    @import "_tablet.scss";

    header {
        width: 100%;
        height: 350px;
    }

    .left_todo {
        float: left;
        width: 100%;
        height: 100%;
    }

    .left_header_img {
        height: 140px;


    }

    .right_header_img {
        height: 140px;
    }

    .dropbtn {
        width: 350px;
    }

    .dropdown-content {
        width: 350px;
    }

    footer {
        width: 100%;
    }

    li {

        font-size: 20px;


    }

    h1 {
        font-size: 25px;
        font-weight: 800;
        margin: 0px;
        display: inline;
    }

    h2 {
        font-size: 25px;
        font-weight: 800;
        margin: 0px;
        display: inline;
    }
